body {
}
header {
    border-bottom: 1px solid #e7e7e7;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    background-color: #fff;
    z-index: 999;
}

    header > span {
        float: left;
        margin-top: 6px;
        margin-left: 50px;
    }

    header > div {
        float: left;
        margin-top: 20px;
        margin-left: 10px;
        color: gray;
    }

    header > form {
        float: right;
        margin-top: 20px;
        margin-right: 50px;
        color: gray;
    }

.dropdown {
    float: right;
}

    .dropdown > li {
        position: relative;
        margin-right: 50px;
        display: inline-block;
    }

        .dropdown > li > a {
            color: #777;
        }

.dropdown-content a {
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    list-style: none;
    border: 1px solid rgba(0,0,0,.15);
    width: 100px;
    background-color: #fff;
    float: left;
    right: 0px;
}

.dropdown > li:hover .dropdown-content {
    display: block;
}

.help-feedback a {
    border: 0px;
    background-color: rgba(128,255,212,.7);
    color: #23527c;
    position: fixed;
    bottom: 100px;
    right: 40px;
    padding: 10px;
    border-radius: 0px 10px;
}

.bottom {
    bottom: 100px;
}

.notice {
    margin-top: -8px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    text-align: center;
    background-color: #eee;
    height: 28px;
    }
    .notice a {
        float: right;
        margin-right: 25px;
        margin-top: 3px;
        color: #23527c;
    }

main {
    margin-top: 70px;
}
.wait {
    border: 0px;
    background-color: #5bc0de;
    border-radius: 20px;
    width: 55px;
   
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    padding: 5px;
}

.problem {
    float: left;
    margin-top: 7px;
    margin-left: 5px;
    font-size: 23px;
    color: black;
}


.date {
    font-size: 13px;
}

    .date a {
        float: right;
        color: #337ab7;
    }

.answer {
    clear: both;
    font-size: 14px;
}

.tag {
    margin-bottom: 10px;
    margin-top: 20px;
}

    .tag > a {
        border: 0px;
        color: white;
        background-color: #777;
        margin: 10px;
        border-radius: 10px;
        padding: 2px;
        font-size: 12px;
    }

.status a {
    margin-left: 12px;
    color: #337ab7;
}
.shift{

    float:right;
    margin-top:25px;}
.border {
    clear:both;
    margin-top:10px;
    border: 1px dashed #eee;
    border-radius: 5px;
    padding:10px;
}
.button{margin-top:30px;
        margin-left:270px;
            
}
.frame {
    border: 1px solid #eee;
    padding:50px 30px;
}
td span {
    border: 0px;
    color: white;
    background-color: #777;
    display: inline-block;
    margin: 5px 10px 5px 10px;
    border-radius: 10px;
}
.keywords {
    border: 1px dashed #eee;
    
   
   
    margin-top: 70px;
    padding-bottom: 20px;
}

    .keywords a {
        border: 0px;
        color: white;
        background-color: #777;
        display: inline-block;
        margin: 5px 10px 5px 10px;
        font-weight: 900;
        border-radius: 10px;
        padding: 2px;
        font-size:18px;
    }

.line {
    border: 0px;
    border-top: 1px solid #eee;
    width: 290px;
    text-align: center;
}

.separate {
    margin-top: 15px;
}

.seek {
    width: 200px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 30px
}

.article {
    border: 1px dashed #eee;
    float: right;

 
    margin-top: 20px;
}

    .article a {
        color: #337ab7;
    }

.article-content {
    margin: 10px 10px 10px 10px;
}

.move {
    margin-left: 270px;
}

.advertisement {
    border: 1px dashed #eee;
    float: right;
    padding-right:150PX;
    margin-top: 20px;
}

    .advertisement a {
        color: #337ab7;
    }

.advertisement-content {
    margin: 10px 10px 10px 10px;
}

footer {
    clear:both;
    margin-top: 50px;
   
    margin-bottom: 70px;
    border-top: 1px solid #eee;
}

    footer a {
        float: left;
        margin-top: 10px;
    }

    footer div {
        float: left;
        margin-top: 10px;
        margin-left: 4px;
    }
