body {
}



    .keywords a {
        border: 0px;
        color: white;
        background-color: #777;
        display: inline-block;
        margin: 5px 10px 5px 10px;
        font-weight: 900;
        border-radius: 10px;
        padding: 2px;
        font-size: 18px;
    }



