body {
    background-image: url(/images/KnockHamsterGame/背景.jpg);
    background-size:100%;
    cursor:url("../images/KnockHamsterGame/锤子.png")20 80; 
}

.taft > img {
    position: absolute;
    width: 250px;
    height: 130px;
    z-index: 1;
}

.Hamster > img {
    position: absolute;
    width: 85px;
    height: 82px;
}
.Hamster0 {
    
    animation: myfirst 2s;

}


.Hamster1 {
   
    animation: myfirst 2s;
  
}


.Hamster2 {
   
    animation: myfirst 2s;
 
}

@keyframes myfirst {
    0% {
        top: 375px;
    }
    50% {
        top: 300px;
    }
    100% {
        top: 375px;
    }
}

.Hamster3 {

    animation: mysecond 2s;

}

.Hamster4 {
  
    animation: mysecond 2s;

}

.Hamster5 {

    animation: mysecond 2s;
 
}

@keyframes mysecond {
    0% {
        top: 575px;
    }
    50% {
        top: 500px;
    }
    100% {
        top: 575px;
    }
}

.Hamster6 {

    animation: mythird 2s;
   
}
.Hamster7 {
  
    animation: mythird 2s;
   
}

.Hamster8 {
    animation: mythird 2s;

}

@keyframes mythird {
    0% {
        top: 775px;
    }
    50% {
        top: 700px;
    }
    100% {
        top: 775px;
    }
}

.Hamster1-1 {
    animation: myfirst 2s;
}
.Hamster1-2 {
    animation: myfirst 2s;
}
.Hamster1-3 {
    animation: myfirst 2s;
}
.Hamster1-4 {
    animation: mysecond 2s;
}
.Hamster1-5 {
    animation: mysecond 2s;
}
.Hamster1-6{
    animation: mysecond 2s;
}
.Hamster1-7 {
    animation: mythird 2s;
}
.Hamster1-8 {
    animation: mythird 2s;
}
.Hamster1-9 {
    animation: mythird 2s;
}
.Hamster2-1 {
    animation: myfirst 2s;
}

.Hamster2-2 {
    animation: myfirst 2s;
}

.Hamster2-3 {
    animation: myfirst 2s;
}

.Hamster2-4 {
    animation: mysecond 2s;
}

.Hamster2-5 {
    animation: mysecond 2s;
}

.Hamster1-6 {
    animation: mysecond 2s;
}

.Hamster2-7 {
    animation: mythird 2s;
}

.Hamster2-8 {
    animation: mythird 2s;
}

.Hamster2-9 {
    animation: mythird 2s;
}


