


main {
    background-image: url(/images/KnockHamsterGame/背景1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1020px;
    min-height: 676px;
    margin-left: auto;
    margin-right: auto;
}

.fraction {
    font-size: 35px;
    font-weight: 900;
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
}

.Time {
    font-size: 27px;
    font-weight: 900;
    margin-left: 750px;
    margin-top: 50px;
    position: absolute;
}

.begin-btn {
    margin-left: 220px;
    margin-top: 50px;
    position:absolute;
}

#mole-container {
    position: relative;
    top: 230px;
    margin-left: auto;
    margin-right: auto;
}

    #mole-container td {
        position: relative;
        padding: 40px 40px 20px 40px;
    }

.taft {
    z-index: 10;
    position: relative;
    height: 80px;
}

.BadHamster {
    width: 53px;
    right: 110px;
    top: 53px;
    position: absolute;
    animation: animationTime 2s;
}

.CuteHamster {
    width: 53px;
    right: 110px;
    top: 53px;
    position: absolute;
    animation: animationTime 2s;
}

.Bomb {
    width: 45px;
    right: 114px;
    top: 53px;
    position: absolute;
    animation: animationTime 2s;
}

.explode {
    top: -32px;
    right:90px;
    position: absolute;   
}

@keyframes animationTime {
    0% {
        top: 53px;
    }

    40% {
        top:5px;
    }

    60% {
        top: 5px;
    }

    100% {
        top: 53px;
    }
}







/** {
    cursor: url(/images/KnockHamsterGame/锤子.png)7 58,auto;
}

body {
    background-size: 100%;
    background-image: url(/images/KnockHamsterGame/背景.jpg);
    width: 1600px;
    height: 980px
}

.taft > img {
    position: absolute;
    width: 250px;
    height: 130px;
    z-index: 1;
}

.Hamster > img {
    position: absolute;
    width: 85px;
    height: 82px;
}

.Hamster0, .Hamster1, .Hamster2, .Hamster1-1, .Hamster1-2,
.Hamster1-3, .Hamster2-1, .Hamster2-2, .Hamster2-3 {
    animation: myfirst 2s;
}

@keyframes myfirst {
    0% {
        top: 375px;
    }

    40% {
        top: 300px;
    }

    60% {
        top: 300px;
    }
    100% {
        top: 375px;
    }
}

.Hamster3, .Hamster4, .Hamste5, .Hamster1-4, .Hamster1-5,
.Hamster1-6, .Hamster2-4, .Hamster2-5, .Hamster2-6 {
    animation: mysecond 2s;
}


@keyframes mysecond {
    0% {
        top: 575px;
    }

    40% {
        top: 500px;
    }
    60% {
        top: 500px;
    }
    100% {
        top: 575px;
    }
}

.Hamster6, .Hamster7, .Hamster8, .Hamster1-7,
.Hamster1-8, .Hamster1-9, .Hamster2-7, .Hamster2-8, .Hamster2-9 {
    animation: mythird 2s;
}


@keyframes mythird {
    0% {
        top: 775px;
    }

    40% {
        top: 700px;
    }

    60% {
        top: 700px;
    }
    100% {
        top: 775px;
    }
}

.Bomb > img {
    z-index: 10;
    position: absolute;
    height: 150px;
    width: 150px;
}*/
