body {
}

main a:hover {
    text-decoration: underline;
}

.notice:hover {
    text-decoration: underline;
}

.article a:hover {
    text-decoration: underline;
}
.advertisement a:hover {
    text-decoration: underline;
}

.small {
    float: right;
    margin-right: 25px;
    margin-top: 3px;
    color: #23527c;
}

.notice {
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    text-align: center;
    background-color: #eee;
    height: 28px;
}

main {
    float: left;
    margin-top: 50px;
    margin-left: 200px;
    width: 750px;
}
.color {
    color: #23527c;
}
.select {
    border-left: 6px solid gray;
    height:30px;
    list-style: none;
    text-decoration: none;
    margin-bottom: 50px;
}

    .select > li {
        display: inline-block;
        margin-left: 7px;
    }
    .select > color-profile {
        color: #337ab7;
    }

.content {
    border: 1px solid;
    width: 500px
}
.wait {
    border: 0px;
   
    border-radius: 20px;
    width: 55px;
    
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    padding: 5px;
}
.problem {
    float: left;
    margin-top: 7px;
    margin-left: 5px;
    font-size: 23px;
    color: black;
}
.cut-offruie {
    border: 0px;
    border-top: 1px solid #eee;
    width: 750px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.date {
    font-size: 13px;
}
    .date a {
        float: right;
        color: #337ab7;
    }
.answer {
    clear: both;
    font-size: 14px;
}

.tag {
    margin-bottom: 10px;
    margin-top: 20px;
}

    .tag > a {
        border: 0px;
        color: white;
        background-color: #777;
        margin: 10px;
        border-radius: 10px;
        padding: 2px;
        font-size: 12px;
    }

.status a {
    margin-left: 12px;
    color: #337ab7;
}
.status span{color:red;}
.keywords {
    border: 1px dashed #eee;
    float: right;
    width: 350px;
    margin-right: 220px;
    margin-top: 70px;
    padding-bottom:20px;
}

    .keywords a {
        border: 0px;
        color: white;
        background-color: #777;
        display: inline-block;
        margin: 5px 10px 5px 10px;
        font-weight: 900;
        border-radius: 10px;
        padding: 2px;
        font-size:18px;
    }

.line {
    border: 0px;
    border-top: 1px solid #eee;
    width: 290px;
    text-align: center;
}
.separate {
    margin-top: 15px;
}
.seek {
    width: 200px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 30px
}

.article {
    border: 1px dashed #eee;
    float: right;
    width: 350px;
    margin-right: 220px;
    margin-top: 20px;
}

    .article a {
        color: #337ab7;
    }

.article-content {
    margin: 10px 10px 10px 10px;
}
.move {
    margin-left: 270px;
}
.advertisement {
    border: 1px dashed #eee;
    float: right;
    width: 350px;
    margin-right: 220px;
    margin-top: 20px;
}

    .advertisement a {
        color: #337ab7;
    }

.advertisement-content {
    margin: 10px 10px 10px 10px;
}

footer {
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 70px;
    border-top: 1px solid #eee;
}

    footer a {
        float: left;
        margin-top: 10px;
    }

    footer div {
        float: left;
        margin-top: 10px;
        margin-left: 4px;
    }
