body {
}

.color {
    border: 1px dashed #eee;
    background-color: #ffffe0;
    border-width: 2px;
    border-radius: 5px;
}
.assignment {
    border: 1px dashed #eee;
    background-color: #ffffe0;
    border-width: 2px;
    border-radius: 5px;
    margin-top: 40px;
}
