.return {
    float: right;
    border: 0px;
    background-color: rgba(128,255,212,.7);
    color: #23527c;
    padding: 10px;
    border-radius: 0px 0px 0px 10px;
}

.register-font {
    font-size: 30px;
    font-weight: 500;
}

.cause {
    margin-left: 120px;
    float: right;
}



.content {
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.framefirst {
    border-style: dashed;
    border-width: 2px;
    border-color: #eee;
    padding:20px 10px 10px 10px;
    background-color: #ffffe0;
    border-radius: 5px;
}

.framesecond {
    margin-top: 10px;
    margin-left: -20px;
    padding-left: 20px;
}

.promptMessage {
    color: #b94a48;
}

h1 {
    color: dimgray;
}

aside > ol li {
    margin-bottom: 12px;
    /*word-wrap: break-word;
        主流浏览器支持自动换行*/
}
