@page
<link rel="stylesheet" type="text/css" href="~/css/Month.css" />

@model htmlCssBookStrap.Pages.Task.History.MonthModel
@*@{
        ViewData["Title"] = "Month";
        Layout = "~/Pages/Shared/_Layout.cshtml";
    }*@

<link rel="stylesheet" type="text/css" href="~/css/site.css" />
<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />

@{
    string[] week = { "一", "二", "三", "四", "五", "六", "日" };
    DateTime time = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    int k = 0;
}

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="calendar">
                <div class=" tr-yearMonth">@(time.Year)年@(time.Month)月</div>

                <table class="table table-striped ">

                    @*<caption style="text-align:center">@(time.Year)年@(time.Month)月</caption>*@
                    <tbody>

                        <tr>
                            @for (int i = 0; i < 7; i++)
                            {
                                <td>@week[i]</td>
                            }

                        </tr>
                        @for (int i = 0; i < 5; i++)
                        {
                            <tr>
                                @for (int j = 1; j < 8; j++)
                                {
                                    if (i == 0 && j < time.DayOfWeek.GetHashCode())
                                    {
                                        <td></td>
                                    }
                                    else
                                    {

                                        if (time.AddDays(k).Month == time.Month)
                                        {
                                            <td>@time.AddDays(k).Day</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        k++;
                                    }

                                }

                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>