<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="text/css" href="~/images/logo-big.ico" />
    <meta charset="utf-8" />

    <title>注册·一起帮</title>

    <style>
        header {
            border-bottom: 1px solid #e7e7e7;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            height: 60px;
            background-color: #fff;
            z-index: 999;
        }

            header > span {
                float: left;
                margin-top: 6px;
                margin-left: 50px;
            }

            header > div {
                float: left;
                margin-top: 20px;
                margin-left: 10px;
                color: gray;
            }

            header > form {
                float: right;
                margin-top: 20px;
                margin-right: 50px;
                color: gray;
            }

        .dropdown {
            float: right;
        }

            .dropdown > li {
                position: relative;
                margin-right: 50px;
                display: inline-block;
            }

        a {
            text-decoration: none;
        }

        .dropdown > li > a {
            color: #777;
        }

        .dropdown-content a {
            color: black;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            list-style: none;
            border: 1px solid rgba(0,0,0,.15);
            width: 100px;
            background-color: #fff;
            float: left;
            right: 0px;
        }

        .dropdown > li:hover .dropdown-content {
            display: block;
        }

        .help-feedback a {
            border: 0px;
            background-color: rgba(128,255,212,.7);
            color: #23527c;
            position: fixed;
            bottom: 100px;
            right: 40px;
            padding: 10px;
            border-radius: 0px 10px;
        }

        .bottom {
            bottom: 100px;
        }
    </style>
</head>
<body>
    <script>
        //x = [(23 + 7) * 12 - 8] / 6;
        //alert(x)
        //console.log(x)      在控制台使用
        //var add=1 ;
        //var walk = 1;
        //while (((walk * 2) - 1)<99)
        //{
        //    walk += 1;
        //    add += (walk * 2) - 1;
        //}
        //alert(add);
        //var student = ["飞哥", "老程", "老赵", "路炜", "小龙", "子祥", "文轩", "明辉", "王峰", "云帆", "小余"];
        //student.unshift("头部");
        //student.push("尾部")
        //for (var i in student) {
        //}
        //alert(i);
        //alert(stutent)
        //var rand = new Array;
        //for (var i = 0; i < 10; i++) {
        //    rand[i] = Math.floor(Math.random() * 100);
           
        //}

        //var max = 0;
        //for (var i = 0; i < 10; i++)
        //{

        //    if (max < rand[i])
        //    {
        //         max = rand[i]
        //    }
        
        //}
        //     alert(max);
       


    </script>

    @RenderBody()

</body>
</html>
