@page
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/cut form.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
                <header>
                    <span><img src="~/images/logo-big.ico"></span>

                    <div> <b>一起帮 </b>· 网络互助平台</div>
                    <form>
                        <ul class="dropdown">
                            <li>
                                <a href="">求助</a>
                                <ul class="dropdown-content">
                                    <li><a href="">发布</a></li>
                                    <li><a href="">列表</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">督促</a>
                                <ul class="dropdown-content">
                                    <li><a href="">求督促</a></li>
                                    <li><a href="">督促别人</a></li>
                                    <li><a href="">我的目标</a></li>
                                    <li><a href="">我的督促</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">文章</a>
                                <ul class="dropdown-content">
                                    <li><a href="">列表</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="">App下载</a>
                                <ul class="dropdown-content">
                                    <li><a href="">Android</a></li>
                                    <li><a href="">iOS</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">未登陆</a>
                                <ul class="dropdown-content">
                                    <li><a href="">登陆</a></li>
                                    <li><a href="">注册</a></li>
                                    <li><a href="">忘记密码</a></li>
                                </ul>
                            </li>
                        </ul>
                    </form>
                </header>

            </nav>
            <div class="notice">
                <a href="http://17bang.ren/Message/Index">全部消息</a>
            </div>

            <main class="col-lg-8">
                <div>
                    <div class="date">
                        2019年03月12日 20点40分
                        <a href="http://17bang.ren/User/1628">asd7231</a>
                    </div>
                    <div class="wait">
                        待协助
                    </div>

                    <a class="problem" href="#"> 西安大专应届生找个JAVA开发的工作，有没有推荐的</a>


                    <div class="answer">
                        本人3个月后毕业，自学3年JAVA，对J2EE的一整套开发体系非常熟悉，OA类的项目做的比较多。荣获第八届蓝桥杯JAVA C组个人赛全国一等奖，之后去上海实习几个月，因为一些原因必须回西安发展，但是投简历无数，要么没有音信，要么第一轮面试结束没有消息，要么学历不过关- -。智联上西安的JAVA校招几乎没有，1个月过去了，还是没有工作，我都不求工资，只求有长远发展，不会的我都愿意学，但是不想去那种混日子的公司，要有激情，有创新，有热血的公司。


                        有没有推荐的，或者那位大神觉得我可以内推一下我，至少给个面试机会 <a href="http://17bang.ren/Problem/707">……</a>
                    </div>

                    <div class="tag">
                        <a hhref="http://17bang.ren/Problem?keyword=704">爬虫代理设置</a><a hhref="http://17bang.ren/Problem?keyword=109"> 爬虫</a>
                        <a href="http://17bang.ren/Problem?keyword=173"> Python</a><a href="http://17bang.ren/Problem?keyword=163">编程开发语言</a>
                    </div>
                    <div class="status">

                        悬赏： 20 <a href="http://17bang.ren/Problem/707#new-comment"></a><a href=" http://17bang.ren/Problem/707#new-comment"> 应答：</a>0 <a href="http://17bang.ren/Problem/707#summary">总结：</a> 0
                    </div>
                </div>
                <div>
                    <h3 class="pull-left">问题总结</h3>
                    <a class="shift" href="#">写总结，赚帮帮币</a>
                </div>

                <div class="border">
                    (´･･)ﾉ(._.`)<br />
                    还没有内容呢！等待求助被解决（酬谢/撤销）后，求助人或好心人总结……

                </div>
                <div class="button">
                    <button type="button" class="btn btn-default">
                        上一个
                    </button>
                    <button type="button" class="btn btn-default">
                        下一个
                    </button>
                </div>
                <h4>邀请好心人</h4>
                <div class="frame">
                    <div div class="form-group">

                        <label>邀请回答 （定向求助）：</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" class="form-control" placeholder="输入用户名，移出焦点自动查找">
                        </div>

                    </div>
                    <table class="table table-condensed">

                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>积分</th>
                                <th>关注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="radio" name="sex" value="male"><a href="#">梅开会</a></td>
                                <td>287</td>
                                <td>
                                    <span>编程开发语言</span><span> JAVA</span> <span> 项目启动 </span> <span>工具软件</span> <span> tomcat</span>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="radio" name="sex" value="male"><a>无蓝梦风</a></td>
                                <td>50</td>
                                <td><span>JSP</span><span> JAVA</span></td>
                            </tr>
                            <tr>
                                <td><input type="radio" name="sex" value="male"><a>两横一竖</a></td>
                                <td>10</td>
                                <td><span>JAVA</span><span> 编程开发语言</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary">邀请</button>
                    <a href="#">自定义查找</a>
                </div>
            </main>

            <aside class="col-lg-4">
                <div class=" keywords">
                    <h3><span class="glyphicon glyphicon-tags"></span>  关键字</h3>
                    <hr class="line" />
                    <a href="http://17bang.ren/Problem?keyword=163">编程开发语言</a>
                    <a href="http://17bang.ren/Problem?keyword=169">C#</a>
                    <a href="http://17bang.ren/Problem?keyword=170">Java</a>
                    <a href="http://17bang.ren/Problem?keyword=162">工具软件</a>
                    <a href="http://17bang.ren/Problem?keyword=171">Javascript</a>
                    <a href="http://17bang.ren/Problem?keyword=164">顾问咨询</a>
                    <a href="http://17bang.ren/Problem?keyword=199">html</a>
                    <a href="http://17bang.ren/Problem?keyword=161">操作系统</a>
                    <a href="http://17bang.ren/Problem?keyword=182">VisualStudio</a>
                    <a href="http://17bang.ren/Problem?keyword=174">SQL</a>
                    <a href="http://17bang.ren/Problem?keyword=188">法律</a>
                    <a hhref="http://17bang.ren/Problem?keyword=184">职场</a>
                    <a href="http://17bang.ren/Problem?keyword=173">Python</a>
                    <a href="http://17bang.ren/Problem?keyword=89">.net</a>
                    <a href="http://17bang.ren/Problem?keyword=200">css</a>
                    <a href="http://17bang.ren/Problem?keyword=167">Linux</a>
                    <hr class="line" />
                    <div class="separate">
                        <form role="form">
                            <div div class="form-group col-lg-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="直接输入关键字查找">
                                    <span class="input-group-addon "><span class="glyphicon glyphicon-search"></span></span>
                                </div>
                            </div>
                        </form>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-random"></span>    换一批</button>
                    </div>
                </div>
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab">
                            W3Cschool Home
                        </a>
                    </li>
                    <li><a href="#ios" data-toggle="tab">iOS</a></li>
                    <li class="dropdown">
                        <a href="#" id="myTabDrop1" class="dropdown-toggle"
                           data-toggle="dropdown">
                            Java
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                            <li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
                            <li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
                        </ul>
                    </li>
                </ul><div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <p>W3CschooolW3Cschool教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档，帮助广大web技术爱好者快速入门并建立自己的网站。菜鸟先飞早入行——从W3Cschool开始。</p>
                    </div>
                    <div class="tab-pane fade" id="ios">
                        <p>
                            iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                            TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。
                        </p>
                    </div>
                    <div class="tab-pane fade" id="jmeter">
                        <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
                    </div>
                    <div class="tab-pane fade" id="ejb">
                        <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。      </p>
                    </div>
                </div>
                <div class="article">
                    <h3><span class="glyphicon glyphicon-book"></span>  精品文章</h3>
                    <hr class="line" />
                    <div class="article-content">
                        <a href="http://17bang.ren/Article/424">培训班的同学，拜托不要把用人单位想得那么傻，好不好？！</a>
                    </div>
                    <div class="article-content">
                        <a href="http://17bang.ren/Article/422">人心</a>
                    </div>
                    <div class="article-content">
                        <a href="http://17bang.ren/Article/421">榜样的力量二</a>
                    </div>
                    <div class="article-content">
                        <a href="http://17bang.ren/Article/420">榜样的力量</a>
                    </div>
                    <div class="article-content">
                        <a href="http://17bang.ren/Article/419">请个假，立个誓</a>
                    </div>
                    <div class="article-content">
                        <a class="move" href="http://17bang.ren/Article">更多</a>
                    </div>
                </div>
                <div class="advertisement">
                    <div class="advertisement-content">
                        <a href="http://17bang.ren/AdInWidget/_Free?position=2">1 免费广告位，抢到就是赚到！</a>
                    </div>
                    <div class="advertisement-content">
                        <a href="http://17bang.ren/AdInWidget/_Free?position=2">2免费广告位，抢到就是赚到！</a>
                    </div>
                    <div class="advertisement-content">
                        <a href="http://17bang.ren/AdInWidget/_Free?position=2">3 免费广告位，抢到就是赚到！</a>
                    </div>
                    <div class="advertisement-content">
                        <a href="http://17bang.ren/AdInWidget/_Free?position=2">4 免费广告位，抢到就是赚到！</a>
                    </div>
                    <div class="advertisement-content">
                        <a href="http://17bang.ren/AdInWidget/_Free?position=2">5 免费广告位，抢到就是赚到！</a>
                    </div>
                    <div class="advertisement-content">
                        6 本站主机由西部数码提供
                    </div>
                </div>
            </aside>
            <footer>
                <a style="color:#23527c;" href="http://17bang.ren/About/Us">关于我们</a>

                <div>|</div>
                <a style=" margin-left:7px;color:#23527c;" href="http://17bang.ren/FAQ">常见问题</a>
                <div>|</div>
                <a style=" margin-left:7px;color:#23527c;" href="http://17bang.ren/Suggest">意见建议</a>
                <div>|</div>
                <a style=" margin-left:7px;color:#23527c;" href="http://17bang.ren/Notice">历史通知</a>
                <div>|</div>
                <a style=" margin-left:7px;color:#2b542c;" href="http://17bang.ren/Donate">友情捐赠</a>
            </footer>


            <div class="help-feedback">
                <a href="http://17bang.ren/Contact/Us">帮助</a>
                <a class="bottom" href="http://17bang.ren/Suggest/New">反馈</a>
            </div>
        </div>
    </div>
</body>
</html>