@page

<header>

    <span style="float:left;margin-top:6px; margin-left:50px;"><img src="~/images/logo-big.ico"></span>

    <span style="float:left;margin-top:20px;margin-left:10px;color:gray;"> <b>一起帮 </b>· 网络互助平台</span>
    <form style="float:right;margin-top:20px;margin-right:50px;color:gray;" action="">
        <select name="cars">
            <option value="求助">求助</option>
            <option value="发布">发布</option>
            <option value="列表">列表</option>
        </select>
        <select name="cars">
            <option value="督促">督促</option>
            <option value="求督促">求督促</option>
            <option value="督促别人">督促别人</option>
            <option value="我的目标">我的目标</option>
            <option value="我的督促">我的督促</option>
        </select>
        <select name="cars">
            <option value="文章">文章</option>
            <option value="列表">列表</option>
        </select>
        <select name="cars">
            <option value="app下载">App下载</option>
            <option value="android">Android</option>
            <option value="ios">iOS</option>
        </select>
        <select name="cars">
            <option value="登陆">登陆</option>
            <option value="注册">注册</option>
            <option value="忘记密码">忘记密码</option>
        </select>
    </form>

</header>
<div class="small"><a style="float:right;margin-right:25px;margin-top:3px;color:#23527c;" href="http://17bang.ren/Message/Index">全部消息</a></div>
<article>
    <a style="float:right;" href="http://17bang.ren/">返回</a>
  
    <h1 style="font-size:30px;">®注册</h1>
    <hr style="border:0px;border-top:1px solid #eee;"/><br />
    <form class="content">
        <div class="framefirst">
            邀请人：<a style="margin-left:120px;float:right;" href="  http://17bang.ren/FAQ/Account#invite">为什么需要邀请</a><br />
            <input type="text" name="邀请人" style="width:300px;height:30px;border:1px solid #ccc" ;maxlength="16" placeholder="他的用户名，模糊查询只能从头开始" /><br /><br />
            邀请码：<br />
            <input type="text" name="邀请码" style="width:300px;height:30px;border:1px solid #ccc;" maxlength="16" placeholder="4位数字" /><br />
        </div>
        <div class="framesecond">
            用户名：<br />
            <input type="text" name="用户名" style="width:325px;height:30px;border:1px solid #ccc;" maxlength="16" placeholder="登陆用户名，可修改，不能重复" /><br /><br />
            密码：<br />
            <input type="password" name="密码" style="width:325px;height:30px;border:1px solid #ccc;" maxlength="16" placeholder="不少于4个字符" /><br /><br />
            验证密码：<br />
            <input type="password" name="验证密码" style="width:325px;height:30px;border:1px solid #ccc;" maxlength="16" placeholder="和密码相同" /><br /><br />
            验证码：<br />
            <input type="text" name="验证码" style="width:80px;height:30px;border:1px solid #ccc;" maxlength="16" /><br /><br />
            <input type="submit" value="提交" /><label><input type="checkbox" name="vehicle" value="记住我"> 记住我</label>
        </div>
    </form>
</article>

<aside>
    <h2>说明</h2>
    <ol>
        <li>
            我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学<br />
            习等方面的具体问题。
        </li>

        <li>
            现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再<br />
            遇到上述问题，如果别人能直接远程给予帮助，岂不是好？
        </li>

        <li>
            当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这<br />
            个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。
        </li>

        <li>
            公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社<br />
            区成员的收获和贡献。
        </li>
        <li> 赶快加入我们，赚取帮帮币吧！</li>
        <li> <a style="color:#23527c;" href="#">了解更多</a></li>
    </ol>
    </p>
</aside>
<br  style="clear:both;"/>
<hr style=" margin-left:50px;margin-right:50px;border:0px;border-top:1px solid #eee;" />
<footer></footer>
