@page
<link rel="stylesheet" type="text/css" href="~/css/Problem.css" />
<header>

    <span style="float:left;margin-top:6px; margin-left:50px;"><img src="~/images/logo-big.ico"></span>

    <span style="float:left;margin-top:20px;margin-left:10px;color:gray;"><b>一起帮</b>·网络互助平台</span>
    <form style="float:right;margin-top:20px;margin-right:50px;color:gray;" action="">
        <ul class="dropdown">
            <li>
                <a href="">求助</a>
                <ul class="dropdown-content">
                    <li><a href="">发布</a></li>
                    <li><a href="">列表</a></li>
                </ul>
            </li>
            <li>
                <a href="">督促</a>
                <ul class="dropdown-content">
                    <li><a href="">求督促</a></li>
                    <li><a href="">督促别人</a></li>
                    <li><a href="">我的目标</a></li>
                    <li><a href="">我的督促</a></li>
                </ul>
            </li>
            <li>
                <a href="">文章</a>
                <ul class="dropdown-content">
                    <li><a href="">列表</a></li>

                </ul>
            </li>
            <li>
                <a href="">App下载</a>
                <ul class="dropdown-content">
                    <li><a href="">Android</a></li>
                    <li><a href="">iOS</a></li>
                </ul>
            </li>
            <li>
                <a href="">未登录</a>
                <ul class="dropdown-content">
                    <li><a href="">登录</a></li>
                    <li><a href="">注册</a></li>
                    <li><a href="">忘记密码</a></li>
                </ul>
            </li>
        </ul>
    </form>
</header>
<div class="small">
    <a class="notice" href="http://17bang.ren/Message/Index">全部消息</a>
</div>
<main>
    <div style=" background-color: #777; width:6px;height:30px;float:left;margin-top:10px;color:gray;"></div>
    <form>
        <ul class="select">
            <li> 不显示</li>
            <li><label><input type="checkbox" name="vehicle" value="已酬谢"> 已酬谢</label></li>
            <li><label><input type="checkbox" name="vehicle" value="已撤销"> 已撤销</label></li>
            <li><label><input type="checkbox" name="vehicle" value="协助中"> 协助中</label></li>
            <li style="color:#337ab7;">只显示</li>
            <li style="color:#337ab7;"><label><input type="checkbox" name="vehicle" value="我的关注"> 我的关注</label></li>
            <li style="color:#337ab7;"> <label><input type="checkbox" name="vehicle" value="有总结"> 有总结</label></li>
        </ul>
    </form>

    <div>
        <div class="date">
            2019年03月12日 20点40分
            <a style="float:right;color:#337ab7;" href="http://17bang.ren/User/1628">asd7231</a>
        </div>
        <div style="border:0px;background-color:#5bc0de;border-radius:10px;width:55px;height:20px; color:white;margin-top:10px;margin-bottom:10px;float:left;padding:5px;">
            待协助
        </div>

        <a style="float:left;margin-top:7px;margin-left:5px;font-size:23px;color:black;" href="http://17bang.ren/Problem/707">python爬虫设置代理无效</a>


        <div class="answer">如题，初学python,没有用框架，设置了chrome和PhantomJS代理都没有效果 <a href="http://17bang.ren/Problem/707">……</a></div>

        <div class="tag">
            <a hhref="http://17bang.ren/Problem?keyword=704">爬虫代理设置</a><a hhref="http://17bang.ren/Problem?keyword=109"> 爬虫</a>
            <a href="http://17bang.ren/Problem?keyword=173"> Python</a><a href="http://17bang.ren/Problem?keyword=163">编程开发语言</a>
        </div>
        <div class="status">

            悬赏： 20 <a href="http://17bang.ren/Problem/707#new-comment"></a><a href=" http://17bang.ren/Problem/707#new-comment"> 应答：</a>0 <a href="http://17bang.ren/Problem/707#summary">总结：</a> 0
        </div>
    </div>
    <hr style="border:0px;border-top:1px solid  #eee;width:750px;text-align:center;margin-top:10px;margin-bottom:15px;margin-top: 20px;margin-bottom: 40px;" />
    <div>
        <div class="date">
            2019年03月12日 20点40分
            <a style="float:right;color:#337ab7;" href="http://17bang.ren/User/3129">1462556133</a>
        </div>
        <div style="clear:both; border:0px;background-color:#5bc0de;border-radius:10px;width:55px;height:20px; color:white;margin-top:10px;margin-bottom:10px;float:left;padding:5px;">
            待协助
        </div>
        <div style=" clear: both;"><a href="http://17bang.ren/Problem/396">……</a></div>
        <div class="tag">
            <a hhref="http://17bang.ren/Problem?keyword=109"> 多线程</a>
            <a href="http://17bang.ren/Problem?keyword=170"> Java</a><a href="http://17bang.ren/Problem?keyword=163">编程开发语言</a>
        </div>
        <div class="status">

            悬赏： 20 <a href="http://17bang.ren/Problem/707#new-comment"></a><a href=" http://17bang.ren/Problem/707#new-comment"> 应答：</a> 3<a href="http://17bang.ren/Problem/707#summary">总结：</a> 0
        </div>
    </div>
    <hr style="border:0px;border-top:1px solid  #eee;width:750px;text-align:center;margin-top:10px;margin-bottom:15px;margin-top: 20px;margin-bottom: 40px;" />
    <div>

        <div style="border:0px;background-color:#5bc0de;border-radius:10px;width:55px;height:20px; color:white;margin-top:10px;margin-bottom:10px;float:left;padding:5px;">
            待协助
        </div>

        <a style="float:left;margin-top:7px;margin-left:5px;font-size:23px;color:black;" href="http://17bang.ren/Problem/391">Winform里控件绑定数据源就会报错</a>


        <div class="answer"> 项目里的控件绑定属性都会出现这个问题<a href="http://17bang.ren/Problem/391">……</a></div>

        <div class="tag">
            <a hhref="http://17bang.ren/Problem?keyword=182">VisualStudio</a><a hhref="http://17bang.ren/Problem?keyword=162"> 软件工具</a>
            <a href="http://17bang.ren/Problem?keyword=169"> C#</a>
        </div>
        <div class="status">

            悬赏： 20 <a href="http://17bang.ren/Problem/707#new-comment"></a><a href=" http://17bang.ren/Problem/707#new-comment"> 应答：</a>0 <a href="http://17bang.ren/Problem/707#summary">总结：</a> 0
        </div>
    </div>
    <hr style="border:0px;border-top:1px solid  #eee;width:750px;text-align:center;margin-top:10px;margin-bottom:15px;margin-top: 20px;margin-bottom: 40px;" />
</main>

<aside>
    <div class=" keywords">
        <div style="font-size:25px;margin-top:5px;margin-bottom:5px;margin-left:20px;">关键字</div><hr style="border:0px;border-top:1px solid  #eee;width:290px;text-align:center;" />
        <a style="font-size:21px;" href="http://17bang.ren/Problem?keyword=163">编程开发语言</a><a style="font-size:21px;" href="http://17bang.ren/Problem?keyword=169">C#</a><a style="font-size:21px;" href="http://17bang.ren/Problem?keyword=170">Java</a><a style="font-size:20px;" href="http://17bang.ren/Problem?keyword=162">工具软件</a>
        <a style="font-size:20px;" href="http://17bang.ren/Problem?keyword=171">Javascript</a><a style="font-size:20px;" href="http://17bang.ren/Problem?keyword=164">顾问咨询</a><a style="font-size:19px;" href="http://17bang.ren/Problem?keyword=199">html</a><a style="font-size:19px;" href="http://17bang.ren/Problem?keyword=161">操作系统</a>
        <a style="font-size:19px;" href="http://17bang.ren/Problem?keyword=182">VisualStudio</a><a style="font-size:18px;" href="http://17bang.ren/Problem?keyword=174">SQL</a><a style="font-size:18px;" href="http://17bang.ren/Problem?keyword=188">法律</a><a style="font-size:18px;" hhref="http://17bang.ren/Problem?keyword=184">职场</a>
        <a style="font-size:17px;" href="http://17bang.ren/Problem?keyword=173">Python</a><a style="font-size:17px;" href="http://17bang.ren/Problem?keyword=89">.net</a><a style="font-size:17px;" href="http://17bang.ren/Problem?keyword=200">css</a><a style="font-size:17px;" href="http://17bang.ren/Problem?keyword=167">Linux</a>
        <hr style="border:0px;border-top:1px solid  #eee;width:290px;text-align:center;" />
        <div style="margin-top:15px;">
            <input type="password" name="查找" style="width:200px;height:25px;border:1px solid #ccc;border-radius:5px;margin-left:30px;" maxlength="16" placeholder="直接输入关键字查找" />
            <input type="reset" value="换一批" style="width:60px;height:30px;border:1px solid #ccc;margin-left:10px;border-radius:5px;" />
        </div>
    </div>
    <div class="article">
        <div style="font-size:25px;margin-top:5px;margin-bottom:5px;margin-left:20px;">精品文章</div>
        <hr style="border:0px;border-top:1px solid  #eee;width:290px;text-align:center;" />
        <div class="article-content">
            <a href="http://17bang.ren/Article/424">培训班的同学，拜托不要把用人单位想得那么傻，好不好？！</a>
        </div>
        <div class="article-content">
            <a href="http://17bang.ren/Article/422">人心</a>
        </div>
        <div class="article-content">
            <a href="http://17bang.ren/Article/421">榜样的力量二</a>
        </div>
        <div class="article-content">
            <a href="http://17bang.ren/Article/420">榜样的力量</a>
        </div>
        <div class="article-content">
            <a href="http://17bang.ren/Article/419">请个假，立个誓</a>
        </div>
        <div class="article-content">
            <a style="margin-left:270px;" href="http://17bang.ren/Article">更多</a>
        </div>
    </div>
    <div class="advertisement">
        <div class="advertisement-content">
            <a href="http://17bang.ren/AdInWidget/_Free?position=2">1 免费广告位，抢到就是赚到！</a>
        </div>
        <div class="advertisement-content">
            <a href="http://17bang.ren/AdInWidget/_Free?position=2">2免费广告位，抢到就是赚到！</a>
        </div>
        <div class="advertisement-content">
            <a href="http://17bang.ren/AdInWidget/_Free?position=2">3 免费广告位，抢到就是赚到！</a>
        </div>
        <div class="advertisement-content">
            <a href="http://17bang.ren/AdInWidget/_Free?position=2">4 免费广告位，抢到就是赚到！</a>
        </div>
        <div class="advertisement-content">
            <a href="http://17bang.ren/AdInWidget/_Free?position=2">5 免费广告位，抢到就是赚到！</a>
        </div>
        <div style=" margin: 10px 10px 10px 10px;">
            6 本站主机由西部数码提供
        </div>
    </div>
</aside>
<div style="clear:both;"></div>
<br style="margin-top:30px;" />
<footer>
    <a style="color:#23527c;" href="http://17bang.ren/About/Us">关于我们</a>
    <div>|</div>
    <a style=" margin-left:7px;color:#23527c;" href="http://17bang.ren/FAQ">常见问题</a>
    <div>|</div>
    <a style=" margin-left:7px;color:#23527c;" href="http://17bang.ren/Suggest">意见建议</a>
    <div>|</div>
    <a style=" margin-left:7px;color:#23527c;" href="http://17bang.ren/Notice">历史通知</a>
    <div>|</div>
    <a style=" margin-left:7px;color:#2b542c;" href="http://17bang.ren/Donate">友情捐赠</a>
</footer>


<div class="help-feedback">
    <a style="bottom:100px;" href="http://17bang.ren/Contact/Us">帮助</a>
    <a style=" bottom:55px;" href="http://17bang.ren/Suggest/New">反馈</a>
</div>
