@page
@model  Demo.Pages.AboutModel
@{
    string color;
}

@functions{
    void rank()
    {
    }
}

@for (int i = 0; i < 5; i++)
{

    color = i % 2 == 0 ? "blue" : "red";

    <div style="text-align:center;">
        @for (int x = 0; x <= i * 2; x++)
        {
            <span style="color:@(color)">i</span>
        }
    </div>

}

@section test{
    <p>section2</p>
}

<p>@Model.Message</p>

<h1>@ViewData["title"]</h1>
