<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="text/css" href="~/images/logo-big.ico" />

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>

    <meta charset="utf-8" />

    <title>注册·一起帮</title>

    <style>
        header {
            border-bottom: 1px solid #e7e7e7;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            height: 60px;
            background-color: #fff;
            z-index: 999;
        }

            header > span {
                float: left;
                margin-top: 6px;
                margin-left: 50px;
            }

            header > div {
                float: left;
                margin-top: 20px;
                margin-left: 10px;
                color: gray;
            }

            header > form {
                float: right;
                margin-top: 20px;
                margin-right: 50px;
                color: gray;
            }

        .dropdown {
            float: right;
        }

            .dropdown > li {
                position: relative;
                margin-right: 50px;
                display: inline-block;
            }

        a {
            text-decoration: none;
        }

        .dropdown > li > a {
            color: #777;
        }

        .dropdown-content a {
            color: black;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            list-style: none;
            border: 1px solid rgba(0,0,0,.15);
            width: 100px;
            background-color: #fff;
            float: left;
            right: 0px;
        }

        .dropdown > li:hover .dropdown-content {
            display: block;
        }

        .help-feedback a {
            border: 0px;
            background-color: rgba(128,255,212,.7);
            color: #23527c;
            position: fixed;
            bottom: 100px;
            right: 40px;
            padding: 10px;
            border-radius: 0px 10px;
        }

        .bottom {
            bottom: 100px;
        }
    </style>
</head>
<body>

    @RenderBody()

    <script type="text/javascript" src="~/js/base.js"></script>
    <script type="text/javascript" src="~/js/closure.js"></script>
    <script type="text/javascript" src="~/js/BOM.js"></script>
    <script type="text/javascript" src="~/js/DOM.js"></script>
    <script type="text/javascript" src="~/js/event.js"></script>
    <script type="text/javascript" src="~/js/builtInObject.js"></script>
    <script type="text/javascript" src="~/js/package.js"></script>
    <script type="text/javascript" src="~/js/inherit.js"></script>
    <script type="module" src="~/js/module.score.js"></script>
    <script type="text/javascript" src="~/js/module.user.js"></script>
    <script type="text/javascript" src="~/js/this.js"></script>
    @*<script type="module" src="~/js/module.js"></script>*@
    <script type="text/javascript" src="~/js/abnormal.asynchronization.js"></script>
    <script type="text/javascript" src="~/js/Html5API.js"></script>

</body>
</html>
