<!DOCTYPE html>
@model htmlCssBookStrap.Pages.Shared._LayoutModel
<html>
<head>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Layout.css" />
    <link rel="shortcut icon" type="text/css" href="~/images/logo-big.ico" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <title>注册·一起帮</title>


</head>

<body>
    <header>

        <span><img src="~/images/logo-big.ico"></span>

        <div><b>一起帮</b>·网络互助平台</div>
        <form>
            <ul class="dropdown">
                <li>
                    <a href="">求助</a>
                    <ul class="dropdown-content">
                        <li><a href="">发布</a></li>
                        <li><a href="">列表</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">督促</a>
                    <ul class="dropdown-content">
                        <li><a href="">求督促</a></li>
                        <li><a href="">督促别人</a></li>
                        <li><a href="">我的目标</a></li>
                        <li><a href="">我的督促</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">文章</a>
                    <ul class="dropdown-content">
                        <li><a href="">列表</a></li>

                    </ul>
                </li>
                <li>
                    <a href="">App下载</a>
                    <ul class="dropdown-content">
                        <li><a href="">Android</a></li>
                        <li><a href="">iOS</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">未登录</a>
                    <ul class="dropdown-content">
                        <li><a href="">登录</a></li>
                        <li><a href="">注册</a></li>
                        <li><a href="">忘记密码</a></li>
                    </ul>
                </li>
            </ul>
        </form>
    </header>
    <div class="notice">
        <a class="small" href="http://17bang.ren/Message/Index">全部消息</a>
    </div>
    @if (ViewData["UserName"] == null)
    {
        <span>未登录</span>
    }
    else
    {
        <span>@ViewData["UserName"]登陆成功</span>
    }
    @RenderBody()

    <br style="clear:both;" />

    <footer>
        <a style="color:#23527c;" href="http://17bang.ren/About/Us">关于我们</a>

        <div>|</div>
        <a style=" margin-left:7px;color:#23527c;" href="http://17bang.ren/FAQ">常见问题</a>
        <div>|</div>
        <a style=" margin-left:7px;color:#23527c;" href="http://17bang.ren/Suggest">意见建议</a>
        <div>|</div>
        <a style=" margin-left:7px;color:#23527c;" href="http://17bang.ren/Notice">历史通知</a>
        <div>|</div>
        <a style=" margin-left:7px;color:#2b542c;" href="http://17bang.ren/Donate">友情捐赠</a>
    </footer>

    <div class="help-feedback">
        <a style="bottom:100px;" href="http://17bang.ren/Contact/Us">帮助</a>
        <a style=" bottom:55px;" href="http://17bang.ren/Suggest/New">反馈</a>
    </div>

    <script type="text/javascript" src="~/js/base.js"></script>
    <script type="text/javascript" src="~/js/closure.js"></script>
    <script type="text/javascript" src="~/js/BOM.js"></script>
    <script type="text/javascript" src="~/js/DOM.js"></script>
    <script type="text/javascript" src="~/js/event.js"></script>
    <script type="text/javascript" src="~/js/builtInObject.js"></script>
    <script type="text/javascript" src="~/js/package.js"></script>
    <script type="text/javascript" src="~/js/inherit.js"></script>
    <script type="module" src="~/js/module.score.js"></script>
    <script type="text/javascript" src="~/js/module.user.js"></script>
    <script type="text/javascript" src="~/js/this.js"></script>
    @*<script type="module" src="~/js/module.js"></script>*@
    <script type="text/javascript" src="~/js/abnormal.asynchronization.js"></script>
    <script type="text/javascript" src="~/js/Html5API.js"></script>

</body>
</html>
