@page
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <div class="container">
        <div class="row">
            <div class="col-md-8  col-md-offset-2"style="margin-top:150px">
                <div class="form-group;" style="border:2px dashed #eee;border-radius: 5px;background-color:lightyellow">
                    <h2 style="margin-left:100px">学费计算器（Web版）</h2>
                    <div id="student" style="margin:40px 60px">

                        <label for="name" style="margin-bottom:10px">开始日期</label>
                        <input zjc-input type="date" class="form-control" >
                        <br />
                        <div><label for="name" style="margin-bottom:10px">学习时间</label></div>

                        <input zjc-input type="text" class="form-control">
                        <br />
                        <label class="checkbox-inline">
                            <input zjc-input name="IsFemale" type="radio" > 天
                        </label>
                        <label class="checkbox-inline">
                            <input zjc-input name="IsFemale" type="radio"> 周
                        </label>
                        <label class="checkbox-inline">
                            <input zjc-input name="IsFemale" type="radio"> 月
                        </label>
                        <br />
                        <input zjc-input type="submit" value="计算" style="width:50px;height:30px;border:1px solid #204d74;background-color:#286090;color:#fff;border-radius:5px;margin-left:575px" />

                        <div><label for="name" style="margin-bottom:10px">截止日期，所需学费</label></div>
                        <input zjc-input type="text" class="form-control">
                    </div>
                </div>


            </div>
        </div>

    </div>

