@page
<link rel="stylesheet" type="text/css" href="~/css/site.css" />
<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<header>

    <span><img src="~/images/logo-big.ico"></span>


    <div> <b>一起帮 </b>· 网络互助平台 <span class=" glyphicon glyphicon-bell" style="color: gray"></span></div>
    <form>
        <ul class="dropdown">
            <li>
                <a href="">求助</a>
                <ul class="dropdown-content">
                    <li><a href="">发布</a></li>
                    <li><a href="">列表</a></li>
                </ul>
            </li>
            <li>
                <a href="">督促</a>
                <ul class="dropdown-content">
                    <li><a href="">求督促</a></li>
                    <li><a href="">督促别人</a></li>
                    <li><a href="">我的目标</a></li>
                    <li><a href="">我的督促</a></li>
                </ul>
            </li>
            <li>
                <a href="">文章</a>
                <ul class="dropdown-content">
                    <li><a href="">列表</a></li>

                </ul>
            </li>
            <li>
                <a href="">App下载</a>
                <ul class="dropdown-content">
                    <li><a href="">Android</a></li>
                    <li><a href="">iOS</a></li>
                </ul>
            </li>
            <li>
                <a href="">未登陆</a>
                <ul class="dropdown-content">
                    <li><a href="">登陆</a></li>
                    <li><a href="">注册</a></li>
                    <li><a href="">忘记密码</a></li>
                </ul>
            </li>
        </ul>
    </form>
</header>
<div class="notice">
    <a style="float:right;margin-right:25px;margin-top:3px;color:#23527c;" href="http://17bang.ren/Message/Index">全部消息</a>
</div>
<main>
    <a style="float:right;border:0px;background-color:rgba(128,255,212,.7);color:#23527c;padding:10px;border-radius:0px 0px 0px 10px;" href="http://17bang.ren/">返回</a>

    <h1 style="font-size:30px;font-weight:500;">®注册</h1>
    <hr style="border:0px;border-top:1px solid #eee;" /><br />
    <form class="content">
        <div class="framefirst">
            邀请人：<a style="margin-left:120px;float:right;" href="  http://17bang.ren/FAQ/Account#invite">为什么需要邀请</a><br />
            <input type="text" name="邀请人" style="width:300px;height:30px;border:1px solid #ccc" ;maxlength="16" placeholder="他的用户名，模糊查询只能从头开始" /><br /><br />
            邀请码：<br />
            <input type="text" name="邀请码" style="width:300px;height:30px;border:1px solid #ccc;" maxlength="16" placeholder="4位数字" /><br />
        </div>
        <div class="framesecond">
            <span>
                用户名：<br />
                <input type="text" name="用户名" style="width:325px;height:30px;border:1px solid #ccc;" maxlength="16" placeholder="登陆用户名，可修改，不能重复" /><br />
            </span>
            <br />

            密码：<br />
            <input type="password" name="密码" style="width:325px;height:30px;border:1px solid #ccc;" maxlength="16" placeholder="不少于4个字符" /><br /><br />
            验证密码：<br />
            <input type="password" name="验证密码" style="width:325px;height:30px;border:1px solid #ccc;" maxlength="16" placeholder="和密码相同" /><br /><br />
            验证码：<br />
            <input type="text" name="验证码" style="width:80px;height:30px;border:1px solid #ccc;" maxlength="16" /><br /><br />
            <input type="submit" value="提交" style="width:50px;height:30px;border:1px solid #204d74;background-color:#286090;color:#fff;border-radius:5px;" />
            <input type="reset" value="重置" style="width:50px;height:30px;border:1px solid #ccc;margin-left:10px;border-radius:5px;" />
            <label><input type="checkbox" name="vehicle" value="记住我"> 记住我</label>
            <a style="margin-left:120px;color:#23527c;" href="http://17bang.ren/Log/On?prepage=%2f">登陆</a>
        </div>
    </form>
</main>

<aside>
  
        <h2 style="color:#23527c;">说明</h2>
        <ol>
            <li>
                我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学
                习等方面的具体问题。
            </li>

            <li>
                现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再
                遇到上述问题，如果别人能直接远程给予帮助，岂不是好？
            </li>

            <li>
                当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这
                个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。
            </li>

            <li>
                公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社
                区成员的收获和贡献。
            </li>
            <li> 赶快加入我们，赚取帮帮币吧！</li>
            <li> <a style="color:#23527c;" href="#">了解更多</a></li>
        </ol>

   

</aside>
<br style="clear:both;" />

<footer>
    <a style="color:#23527c;" href="http://17bang.ren/About/Us">关于我们</a>
    <div>|</div>
    <a style=" margin-left:7px;color:#23527c;" href="http://17bang.ren/FAQ">常见问题</a>
    <div>|</div>
    <a style=" margin-left:7px;color:#23527c;" href="http://17bang.ren/Suggest">意见建议</a>
    <div>|</div>
    <a style=" margin-left:7px;color:#23527c;" href="http://17bang.ren/Notice">历史通知</a>
    <div>|</div>
    <a style=" margin-left:7px;color:#2b542c;" href="http://17bang.ren/Donate">友情捐赠</a>
</footer>
<div class="help-feedback">
    <a style="bottom:100px;" href="http://17bang.ren/Contact/Us">帮助</a>
    <a style=" bottom:55px;" href="http://17bang.ren/Suggest/New">反馈</a>
</div>