@page
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet" type="text/css" href="~/css/KeyWords1.css" />
</head>
<body>
    <div class=" keywords">

        <a data-used="被使用了1万次" href="http://17bang.ren/Problem?keyword=163">编程开发语言</a>
        <a data-used="被使用了2万次" href="http://17bang.ren/Problem?keyword=169">C#</a>
        <a data-used="被使用了3万次" href="http://17bang.ren/Problem?keyword=170">Java</a>
        <a data-used="被使用了4万次" href="http://17bang.ren/Problem?keyword=162">工具软件</a>
        <a data-used="被使用了5万次" href="http://17bang.ren/Problem?keyword=171">Javascript</a>
        <a data-used="被使用了6万次" href="http://17bang.ren/Problem?keyword=164">顾问咨询</a>
        <a data-used="被使用了7万次" href="http://17bang.ren/Problem?keyword=199">html</a>
        <a data-used="被使用了8万次" href="http://17bang.ren/Problem?keyword=161">操作系统</a>
        <a data-used="被使用了9万次" href="http://17bang.ren/Problem?keyword=182">VisualStudio</a>
        <a data-used="被使用了10万次" href="http://17bang.ren/Problem?keyword=174">SQL</a>
        <a data-used="被使用了11万次" href="http://17bang.ren/Problem?keyword=188">法律</a>
        <a data-used="被使用了12万次" hhref="http://17bang.ren/Problem?keyword=184">职场</a>
        <a data-used="被使用了13万次" href="http://17bang.ren/Problem?keyword=173">Python</a>
        <a data-used="被使用了14万次" href="http://17bang.ren/Problem?keyword=89">.net</a>
        <a data-used="被使用了15万次" href="http://17bang.ren/Problem?keyword=200">css</a>
        <a data-used="被使用了16万次" href="http://17bang.ren/Problem?keyword=167">Linux</a>

    </div>

</body>

</html>
