@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/KnockHamsterGame.css" />

</head>
<body>
    <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="position: absolute; width:250px; height:100px; left:350px; top:400px;z-index:1; ">
    <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="position: absolute; width:250px; height:100px; left:650px; top:400px;z-index:1;">
    <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="position: absolute; width:250px; height:100px; left:950px; top:400px;z-index:1;">
    <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="position: absolute; width:250px; height:100px; left:350px; top:550px;z-index:1;">
    <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="position: absolute; width:250px; height:100px; left:650px; top:550px;z-index:1;">
    <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="position: absolute; width:250px; height:100px; left:950px; top:550px;z-index:1;">
    <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="position: absolute; width:250px; height:100px; left:350px; top:700px;z-index:1;">
    <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="position: absolute; width:250px; height:100px; left:650px; top:700px;z-index:1;">
    <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="position: absolute; width:250px; height:100px; left:950px; top:700px;z-index:1;">

    <img src="~/images/KnockHamsterGame/萌地鼠.png" alt="taft" style="position: absolute; width:85px; height:82px; left:432px; top:400px;">
    <img src="~/images/KnockHamsterGame/萌地鼠.png" alt="taft" style="position: absolute; width:85px; height:82px; left:732px; top:400px;">
    <img src="~/images/KnockHamsterGame/萌地鼠.png" alt="taft" style="position: absolute; width:85px; height:82px; left:1032px; top:400px;">
    <img src="~/images/KnockHamsterGame/萌地鼠.png" alt="taft" style="position: absolute; width:85px; height:82px; left:432px; top:550px;">
    <img src="~/images/KnockHamsterGame/萌地鼠.png" alt="taft" style="position: absolute; width:85px; height:82px; left:732px; top:550px;">
    <img src="~/images/KnockHamsterGame/萌地鼠.png" alt="taft" style="position: absolute; width:85px; height:82px; left:1032px; top:550px;">
    <img src="~/images/KnockHamsterGame/萌地鼠.png" alt="taft" style="position: absolute; width:85px; height:82px; left:432px; top:700px;">
    <img src="~/images/KnockHamsterGame/萌地鼠.png" alt="taft" style="position: absolute; width:85px; height:82px; left:732px; top:700px;">
    <img src="~/images/KnockHamsterGame/萌地鼠.png" alt="taft" style="position: absolute; width:85px; height:82px; left:1032px; top:700px;">
</body>


</html>
