@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/KnockHamsterGame.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <main>

        <div class="fraction">分数：<span fraction-value>0</span></div>

        <div class="Time">剩余时间：<span time-value>200</span></div>

        <button type="button" class="btn btn-success btn-lg begin-btn">开始游戏</button>
        <table id="mole-container">
            <tbody>
                <tr>
                    <td><img class="taft" taft="1" src="~/images/knockhamstergame/土堆.png" alt="taft"></td>
                    <td><img class="taft" taft="2" src="~/images/knockhamstergame/土堆.png" alt="taft"></td>
                    <td><img class="taft" taft="3" src="~/images/knockhamstergame/土堆.png" alt="taft"></td>
                </tr>
                <tr>
                    <td><img class="taft" taft="4" src="~/images/knockhamstergame/土堆.png" alt="taft"></td>
                    <td><img class="taft" taft="5" src="~/images/knockhamstergame/土堆.png" alt="taft"></td>
                    <td><img class="taft" taft="6" src="~/images/knockhamstergame/土堆.png" alt="taft"></td>
                </tr>
                <tr>
                    <td><img class="taft" taft="7" src="~/images/knockhamstergame/土堆.png" alt="taft"></td>
                    <td><img class="taft" taft="8" src="~/images/knockhamstergame/土堆.png" alt="taft"></td>
                    <td><img class="taft" taft="9" src="~/images/knockhamstergame/土堆.png" alt="taft"></td>
                </tr>
            </tbody>
        </table>




    </main>
    @*<div class="Bomb">
            <img src="~/images/knockhamstergame/爆炸1.png" zjc-hamster3 alt="taft" style="left: 400px;top: 240px;display:none;">
            <img src="~/images/knockhamstergame/爆炸1.png" zjc-hamster3 alt="taft" style="left: 700px;top: 240px;display:none;">
            <img src="~/images/knockhamstergame/爆炸1.png" zjc-hamster3 alt="taft" style="left: 1000px;top: 240px;display:none;">
            <img src="~/images/knockhamstergame/爆炸1.png" zjc-hamster3 alt="taft" style="left: 400px;top: 440px;display:none;">
            <img src="~/images/knockhamstergame/爆炸1.png" zjc-hamster3 alt="taft" style="left: 700px;top: 440px;display:none;">
            <img src="~/images/knockhamstergame/爆炸1.png" zjc-hamster3 alt="taft" style="left: 1000px;top: 440px;display:none;">
            <img src="~/images/knockhamstergame/爆炸1.png" zjc-hamster3 alt="taft" style="left: 400px;top: 640px;display:none;">
            <img src="~/images/knockhamstergame/爆炸1.png" zjc-hamster3 alt="taft" style="left: 700px;top: 640px;display:none;">
            <img src="~/images/knockhamstergame/爆炸1.png" zjc-hamster3 alt="taft" style="left: 1000px;top: 640px;display:none;">
        </div>*@
    <audio pop-audio src="~/audio/弹簧.wav"></audio>
    <audio beat-audio src="/audio/敲打.wav"></audio>
    <audio beatError-audio src="~/audio/弹簧-短.wav"></audio>
    <audio bomb-audio src="~/audio/爆炸.mp3"></audio>
    <audio background-audio src="~/audio/刘士鸣 - 快乐的小青蛙（萌萌哒）.mp3"></audio>

    <div class="modal" style="margin-top:200px" id="identifier">
        <div class="modal-dialog modal-sm">

            <div class="modal-content text-center" style="padding:20px 20px;">
                <div style="font-size:48px;font-weight:900;color:cornflowerblue">游戏结束</div>
                <div style="font-size:28px;font-weight:900;">最终成绩：<span fraction-end>0</span></div>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="/js/KnockHamsterGame.js"></script>

</body>

</html>
