@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/KnockHamsterGame.css" />

</head>
<body>
    <div style="font-size:35px;font-weight:900;margin-left:300px; margin-top:130px;position: absolute;">分数：<span zjc-score>0</span></div>

    <button style="font-size:35px;font-weight:900;width:200px;height:80px;margin-left:670px; margin-top:120px;border:1px solid #204d74;background-color:limegreen;color:#fff;border-radius:5px;position: absolute;">开始</button>
    <div class="taft">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style=" left:350px; top:350px; ">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:650px; top:350px;">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:950px; top:350px;">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:350px; top:550px;">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:650px; top:550px;">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:950px; top:550px;">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:350px; top:750px;">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:650px; top:750px;">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:950px; top:750px;">

    </div>

    <div class="Hamster">
        <img class="" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft" style="left: 432px;top: 375px;">
        <img class="" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft" style="left: 732px;top: 375px;">
        <img class="" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft" style="left: 1032px;top: 375px;">

        <img class="" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft" style="left: 432px;top: 575px;">
        <img class="" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft" style="left: 732px;top: 575px;">
        <img class="" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft" style="left: 1032px;top: 575px;">

        <img class="" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft" style="left: 432px;top: 775px;">
        <img class="" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft" style="left: 732px;top: 775px;">
        <img class="" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft" style="left: 1032px;top: 775px;">

        <img class="" src="~/images/KnockHamsterGame/坏地鼠.png" zjc-Hamster1 alt="taft" style="left: 432px;top: 375px;">
        <img class="" src="~/images/KnockHamsterGame/坏地鼠.png" zjc-Hamster1 alt="taft" style="left: 732px;top: 375px;">
        <img class="" src="~/images/KnockHamsterGame/坏地鼠.png" zjc-Hamster1 alt="taft" style="left: 1032px;top: 375px;">

        <img class="" src="~/images/KnockHamsterGame/坏地鼠.png" zjc-Hamster1 alt="taft" style="left: 432px;top: 575px;">
        <img class="" src="~/images/KnockHamsterGame/坏地鼠.png" zjc-Hamster1 alt="taft" style="left: 732px;top: 575px;">
        <img class="" src="~/images/KnockHamsterGame/坏地鼠.png" zjc-Hamster1 alt="taft" style="left: 1032px;top: 575px;">

        <img class="" src="~/images/KnockHamsterGame/坏地鼠.png" zjc-Hamster1 alt="taft" style="left: 432px;top: 775px;">
        <img class="" src="~/images/KnockHamsterGame/坏地鼠.png" zjc-Hamster1 alt="taft" style="left: 732px;top: 775px;">
        <img class="" src="~/images/KnockHamsterGame/坏地鼠.png" zjc-Hamster1 alt="taft" style="left: 1032px;top: 775px;">

        <img class="" src="~/images/KnockHamsterGame/地雷.png" zjc-Hamster2 alt="taft" style="left: 432px;top: 375px;">
        <img class="" src="~/images/KnockHamsterGame/地雷.png" zjc-Hamster2 alt="taft" style="left: 732px;top: 375px;">
        <img class="" src="~/images/KnockHamsterGame/地雷.png" zjc-Hamster2 alt="taft" style="left: 1032px;top: 375px;">

        <img class="" src="~/images/KnockHamsterGame/地雷.png" zjc-Hamster2 alt="taft" style="left: 432px;top: 575px;">
        <img class="" src="~/images/KnockHamsterGame/地雷.png" zjc-Hamster2 alt="taft" style="left: 732px;top: 575px;">
        <img class="" src="~/images/KnockHamsterGame/地雷.png" zjc-Hamster2 alt="taft" style="left: 1032px;top: 575px;">

        <img class="" src="~/images/KnockHamsterGame/地雷.png" zjc-Hamster2 alt="taft" style="left: 432px;top: 775px;">
        <img class="" src="~/images/KnockHamsterGame/地雷.png" zjc-Hamster2 alt="taft" style="left: 732px;top: 775px;">
        <img class="" src="~/images/KnockHamsterGame/地雷.png" zjc-Hamster2 alt="taft" style="left: 1032px;top: 775px;">
    </div>


    <script type="text/javascript" src="~/js/KnockHamsterGame.js"></script>

</body>

</html>
