@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/KnockHamsterGame.css" />

</head>
<body>
    <div class="taft">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style=" left:350px; top:400px; ">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:650px; top:400px;">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:950px; top:400px;">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:350px; top:550px;">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:650px; top:550px;">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:950px; top:550px;">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:350px; top:700px;">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:650px; top:700px;">
        <img src="~/images/KnockHamsterGame/土堆.png" alt="taft" style="left:950px; top:700px;">

    </div>
    <div class="Hamster">
        <img  class="Hamster1" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft"style="left: 432px;top: 400px;">
        <img  class="Hamster2" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft"style="left: 732px;top: 400px;">
        <img  class="Hamster3" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft"style="left: 1032px;top: 400px;">

        <img  class="Hamster4" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft"style="left: 432px;top: 550px;">
        <img  class="Hamster5" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft"style="left: 732px;top: 550px;">
        <img  class="Hamster6" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft"style="left: 1032px;top: 550px;">

        <img  class="Hamster7" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft"style="left: 432px;top: 700px;">
        <img  class="Hamster8" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft"style="left: 732px;top: 700px;">
        <img  class="Hamster9" src="~/images/KnockHamsterGame/萌地鼠.png" zjc-Hamster alt="taft"style="left: 1032px;top: 700px;">
    </div>


    <script type="text/javascript" src="~/js/KnockHamsterGame.js"></script>

</body>

</html>
