@page
@model htmlCssBookStrap.Pages.ProblemSingleModel
@{
    ViewData["Title"] = "求助单页";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>@Model.DTOProblemModel.Title</div>
<main>@Model.DTOProblemModel.Body</main>
<p>@ViewData["id"]</p>

