@page
@model htmlCssBookStrap.Pages.publishModel
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/publish.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="page-header">

                    <h1><span class="glyphicon glyphicon-question-sign"></span> 我要求助</h1>
                </div>
                <div class="color">

                    <p class="glyphicon glyphicon-info-sign"> 这是你第一次发布求助，求助发布成功系统会奖励你 20<a href=""> 帮帮点 </a>。</p>

                    <p class="glyphicon glyphicon-info-sign">
                        你还没有<a href="#">自由发布权限</a>，为了保证求助的质量，我们会帮助你检查完善该求助内容，然后再公开显示，请耐心等待。<br />
                        中途如有任何问题，工作人员会主动和你联系，请注意保持联系方式畅通。
                    </p>
                </div>
                <div class="clearfix">
                    <label class="pull-right">
                        <input type="checkbox"> 需要远程协助

                    </label>
                </div>
                <form role="form" method="post">
                    <div class="form-group">
                        <label for="name">标题：（* 必填）</label>
                        <input type="text" class="form-control" asp-for="ProblemModel.Title"
                               placeholder="简明扼要，不超过255字">
                    </div>
                    <div class="form-group">
                        <label for="name">说明：（* 必填）</label>
                        <textarea class="form-control" asp-for="ProblemModel.Body" rows="18"></textarea>
                    </div>
                    <div class="form-group">
                        <label>关键字：（* 使用空格分隔）</label>
                        <div></div>
                        <div zjc-input-group class="input-group">

                            <div zjc-group-btn class="input-group-btn ">
                                <button type="button" class="btn btn-default" tabindex="-1">
                                    ---1级---
                                </button>
                                <button zjc-btn-default type="button" class="btn btn-default
                              dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                                    <span class="caret"></span>
                                    <span class="sr-only">切换下拉菜单</span>
                                </button>
                                <ul class="dropdown-menu" zjc-keyword-dropdownlist="1">
                                    <li><a data-keyword-id="1">编程开发语言</a></li>
                                    <li><a data-keyword-id="2">工具软件</a></li>
                                    <li><a data-keyword-id="3">顾问咨询</a></li>
                                    <li><a data-keyword-id="4">操作系统</a></li>
                                </ul>
                            </div>
                            <div zjc-group-btn class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        tabindex="-1">
                                    ---2级---
                                </button>
                                <button zjc-btn-default type="button" class="btn btn-default
                     dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                                    <span class="caret"></span>
                                    <span class="sr-only">切换下拉菜单</span>
                                </button>
                                <ul class="dropdown-menu" zjc-keyword-dropdownlist="2">

                                    @*<li><a data-keyword-id="169">C#</a></li>
                                        <li><a data-keyword-id="170">JAVA</a></li>
                                        <li><a data-keyword-id="171">Javascript</a></li>
                                        <li><a data-keyword-id="199">html</a></li>
                                        <li><a data-keyword-id="174">SQL</a></li>
                                        <li><a data-keyword-id="173">Python</a></li>
                                        <li><a data-keyword-id="200">CSS</a></li>
                                        <li><a data-keyword-id="172">PHP</a></li>
                                        <li><a data-keyword-id="175">C++</a></li>
                                        <li><a data-keyword-id="176">C</a></li>*@

                                </ul>

                            </div>
                            <input type="text" class="form-control" placeholder="自定义关键字，使用空格分开">
                        </div>
                    </div>
                    <div div class="form-group">

                        <label>定向求助：（推荐 ）</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" class="form-control" placeholder="输入你想求助的大神用户名">
                        </div>

                    </div>
                    <div div class="form-group">
                        <label>悬赏 帮帮币 ：（现有4枚 ）</label><label> <input type="checkbox">据实结算</label>
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input type="text" class="form-control" placeholder="正整数，建议十枚以上">
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">发布</button>
                        <button type="button" class="btn btn-default">保存</button>
                        <a class="pull-right" href="http://17bang.ren/FAQ/Money#gain">如何获得"帮帮币"</a>
                    </div>
                </form>
            </div>
            <div class="col-lg-3">
                <div class="assignment">
                    <h4><span class="glyphicon glyphicon-th-list"></span> 新手任务</h4>
                    <hr />

                    <p><input type="checkbox"> 填写：联系方式</p>

                    <p><input type="checkbox">激活：Email</p>

                    <p><input type="checkbox">邀请：我的小伙伴</p>

                    <p><input type="checkbox"> 参加：新人测试 </p>

                    <p><input type="checkbox">发布：第一个求助</p>
                    <p><input type="checkbox">尝试： 第一次协助</p>

                    <p><input type="checkbox"> 获得：若干 帮帮币</p>
                </div>
            </div>


            <div class="clearfix">
                <a class="pull-right" href="#">修改</a>
            </div>
            <br />



        </div>

    </div>

</body>
</html>

