@page
@model htmlCssBookStrap.Pages.UserValidateModel
@{
    ViewData["Title"] = "用户验证";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container">
    <form role="form" method="post">

        <label>密码：</label>
        <div class="form-group">
            <input asp-for="Password" class="form-control" placeholder="不少于6个字符" />
            @if (ViewData["IsNumber"] != null)
            {
                <span style="color:#b94a48">* 密码太过简单，请输入数字和字母组合</span>
            }
            <span asp-validation-for="Password" class="promptMessage"></span>
        </div>

        <label>验证密码：</label>
        <div class="form-group">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="和密码相同" />
            <span asp-validation-for="ConfirmPassword" class="promptMessage"></span>
        </div>

        <label>验证码：</label>
        <div class="form-group">
            <input class="form-control" asp-for="identifyingCode" style="width:100px;height:30px;border:1px solid #ccc;" maxlength="16" />
            <span asp-validation-for="identifyingCode" class="promptMessage"></span>
        </div>
        <button class="btn btn-primary" type="submit" value="提交">提交</button>

    </form>
</div>



